.about-container{
    margin: auto;
    margin-top: 30px;
    width: 800px;
    height: 300px;
    padding: 15px;
    border-radius: 3px;
    box-shadow: 0 0 20px 2px rgba(171, 164, 164, 0.168);
}

.welcome{
    font-size: 10px;
    font-weight: lighter;
    margin: 0%;
}

.name{
    margin: 0;
    padding: 0;
    margin-top: -10px;
    font-size: 35px;
}

.description{
    margin: 0;
    padding: 0;
    text-align: justify;
    font-size: 12px;
    margin-top: 10px;

}

.order-btn{
    margin-top: 15px;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    border-radius: 3px;
    border: none;
    width: 110px;
    background-size: 300% 100%;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    outline: none;

}

.order-btn:hover{
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;

}

.rest-img{
    box-shadow: 7px -7px 10px 2px rgba(123, 119, 119, 0.432);
}