.contact-container{
    margin: 50px auto 0 auto;
    width: 850px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.325);
}

.contact-card{
    height: 300px;
    width: 300px;
    margin: 0 auto 0 auto;
}

.contact-name{
    margin: 0;
    padding: 0;
    margin-top: -10px;
    font-size: 20px;
}

.send-btn{
    margin-top: 10px;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    border-radius: 3px;
    border: none;
    width: 110px;
    background-size: 300% 100%;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    outline: none;

}

.send-btn:hover{
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;

}

.map-container{
    height: 300px;
}

.map{
    width: 299px;
}

form{
    margin-top: 5px;
}

form label{
    font-weight: 600;    
}

.input-box{
    margin: 5px 0 5px 0;
    width: 220px;
    height: 25px;
    border: none;
    background: rgba(238, 238, 238, 0.659);
    padding: 7px;
    font-size: 12px;
}

.textarea{
    margin: 5px 0 5px 0;
    width: 220px;
    height: 60px;
    border: none;
    background: rgba(238, 238, 238, 0.659);
    padding: 7px;
}

.contact-bottom{
    display: flex;
    justify-content: center;
}

.contact-bottom-icon-desc{
    width: 160px;
    margin: 10px;
    text-align: center;

}

.contact-bottom-icon{
    margin-top: 15px;
    font-size: 16px;
    padding: 10px;
    background-size: 300% 100%;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    outline: none;
    border-radius: 50%;
    color: #fff;
}

.contact-bottom-icon:hover{
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;

}

.contact-bottom-desc{
    margin-top: 10px;
    font-size: 10px;
}