.login-container {
    margin: 0%;
    padding: 0%;
}

.login-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}

.login-col-1 {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.login-col-2 {
    width: 500px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

.login-img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.login-form {
    border-radius: 10px;
    width: 75%;
    height: 340px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 15px;
    box-shadow: #989898 0px 0px 30px 2px;
}

.login-form-title {
    text-align: center;
}

.login-form-title h2{
    color: #407BFF;
}

.login-form-input-container{
    text-align: center;
}

.login-form-input-box {
    margin: 10px;
    margin-top: 20px;
}

.login-form-input {
    width: 90%;
    height: 36px;
    font-size: 16px;
    font-weight: 400;
    padding: 5px;
    border: 0;
    border-bottom: 1px solid grey;
    background: transparent;
}

.login-form-input::placeholder{
    color: #252525;
}

.login-form-checkbox-forgot-btn{
    margin: 10px;
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
}

.login-form-checkbox{
    width: 130px;
    font-size: 12px;
}

.login-form-forgot{
    width: 150px;
    padding-right: 10px;    
    font-size: 12px;
}

.login-form-forgot-pass{
    font-size: 12px;
    cursor: pointer;
}

.login-btn {
    position: relative;
    top: 8px;
    border-radius: 20px;
    border: none;
    width: 40%;
    padding-left: 32px;
    padding-right: 32px;
    height: 36px;
    font-size: 16px;
    font-weight: 500;
    background: #407BFF;
    color: rgba(255, 255, 255, 0.837);
}

.login-btn:hover{
    background: #3778be;
    color: #fff;
}

.signup-btn{
    position: relative;
    top: 20px;
    width: 90%;
    height: 36px;
    font-size: 12px;
    font-weight: 500;
    background: transparent;
    border: none;
}
