.login-container {
    margin: 0%;
    padding: 0%;
}

.login-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.login-col {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.login-img {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.login-form {
    border-radius: 10px;
    width: 80%;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    box-shadow: #b4b4b4 0px 0px 20px 2px;
}

.login-form-title {
    text-align: center;
}

.login-form-title h2 {
    color: #407BFF;
}

.login-form-input-container {
    text-align: center;
}

.login-form-input-box {
    margin: 10px;
    margin-top: 20px;
}

.login-form-input {
    width: 90%;
    height: 36px;
    font-size: 16px;
    font-weight: 400;
    padding: 5px;
    border: 0;
    border-bottom: 1px solid grey;
    background: transparent;
}

.login-form-input::placeholder {
    color: #252525;
}

.login-form-input-icon {
    font-size: 16px;
    padding: 5px;
    position: relative;
}

.login-form-forgot-btn {
    margin: 15px;
    text-align: center;
}

.login-form-forgot {
    width: 150px;
    font-size: 12px;
}

.login-form-forgot-pass {
    font-size: 12px;
    cursor: pointer;
}

.login-btn {
    position: relative;
    top: 5px;
    border-radius: 20px;
    border: none;
    width: 40%;
    padding-left: 32px;
    padding-right: 32px;
    height: 36px;
    font-size: 16px;
    font-weight: 500;
    background: #407BFF;
    color: rgba(255, 255, 255, 0.837);
    background-size: 300% 100%;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

.login-btn:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.login-btn:focus {
    outline: none;
}

.signup-btn {
    position: relative;
    top: 20px;
    width: 90%;
    height: 36px;
    font-size: 12px;
    font-weight: 500;
    background: transparent;
    border: none;
}