.food-item-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.food-item-card {
    margin: 25px;
    width: 100%;
    height: max-content;
    border-radius: 5px;
    box-shadow: #cfcfcf86 0px 0px 5px 5px;
}

.food-item-card:hover,
.food-item-card:focus{
    box-shadow: #aaaaaa89 0px 0px 5px 3px;
    -webkit-transform: scale(0.95);
    transform: scale(1.04);
}

.food-item-card-img-container {
    width: 100%;
    height: fit-content;
    padding: 0;
    text-align: center;
}

.food-item-card-details-container {
    width: 100%;
    height: fit-content;
    padding-left: 10px;
    padding-right: 10px;
}

.food-item-card-img {
    width: 100%;
    aspect-ratio: 3/2;
    margin: 0;
    padding: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.food-item-card-text {
    margin: 0%;
    padding: 0%;
    margin-top: 5px;
    font-size: 18px;
    font-weight: bold;
}

.food-item-card-desc {
    margin: 0%;
    width: 100%;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
}

.food-item-card-category-quantity {
    display: flex;
    justify-content: space-between;
}

.food-item-card-category {
    width: 50%;
    padding-top: 5px;
    font-size: 14px;
    font-weight: bold;
    text-overflow: ellipsis;
}

.food-item-card-quantity {
    margin: 0%;
    padding: 0%;
    padding-bottom: 5px;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.food-item-card-quantity-inc-dec {
    font-size: 14px;
    padding: 2px;
    color: black;
    margin-bottom: 0;
    margin-top: 0;
    cursor: pointer;
}

.hover-red {
    border-radius: 50%;
    padding: 3px;
}

.hover-red:hover {
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #f99797, #f4998d, #f98075, #bd8a8a);
}

.hover-green {
    border-radius: 50%;
    padding: 3px;
}

.hover-green:hover {
    border-radius: 50%;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #8dea8a, #7cecb2, #97e789, #82eeb6);
}

.food-item-card-quantity-num {
    font-size: 20px;
    font-weight: 600;
    margin: 0%;
    padding: 0%;
    border: none;
    background: none;
}

.food-item-card-price-btn {
    margin-top: 8px;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
}

.food-item-card-price {
    text-align: center;
    color: #407BFF;
    padding-top: 3px;
    font-size: 14px;
    font-weight: bold;
}

.food-item-card-btn {
    padding: 0%;
    width: 55%;
    height: 30px;
    flex-wrap: wrap;
}

.food-item-card-btn-add {
    border: none;
    border-radius: 3px;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.837);
    background: #407BFF;
    background-size: 300% 100%;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);

}

.food-item-card-btn-add:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.food-item-card-btn-add {
    outline: none;
}

.transition {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}