.avl-table{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

.table-name{
    color: #407BFF;
    border-radius: 5px;
    box-shadow: #cbcbcb85 0px 0px 5px 2px;
    width: 83%;
    height: max-content;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    font-weight: bold;
}

.table-name:hover,
.table-name:focus{
    box-shadow: #aaaaaa89 0px 0px 5px 3px;
    -webkit-transform: scale(0.95);
    transform: scale(1.04);
    transition: 0.5s;

}

.table-img{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

}

.book-btn-container{
    display: flex;
    justify-content: space-between;
}

.book-btn{
    display: flex;
    justify-content: center;
    padding: 4px;
    width: 48%;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.837);
    background-size: 300% 100%;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    outline: none;
}

.book-btn:hover{
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.unbook-btn{
    display: flex;
    justify-content: center;
    padding: 4px;
    width: 48%;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.837);
    background-size: 300% 100%;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #d93f0b, #bf2828, #d46d48, #ce5247);
    outline: none;
}

.unbook-btn:hover{
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    color: #ffffff;
}