.footer {
    height: max-content;
    position: relative;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    outline: none;
    font-weight: 700;
    color: rgb(18, 18, 18);
    margin-top: 80px;
}

.rest-name{
    color: rgb(18, 18, 18);
}

.rest-name:hover{
    color: #fff;
}

.footer-middle-part {
    width: 750px;
    height: 100px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    background: #f9f7f7;
    background-size: 300% 100%;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    outline: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
    color: rgb(18, 18, 18);
}

.footer-middle-part:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.footer-middle-part-text {
    font-size: 12px;
    width: 150px;
    color: rgb(18, 18, 18);
    margin-left: 50px;
}

.footer-btn {
    margin-right: 50px;
    width: 110px;
    height: 30px;
    border-radius: 3px;
    border: none;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.837);
    background-size: 300% 100%;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #d93f0b, #bf2828, #d46d48, #ce5247);
    outline: none;

}

.footer-btn:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;

}

.footer-row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0 50px 0;
    margin: 0;
}

.footer-col {
    width: 200px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}

.footer-col p:hover,
h6:hover {
    color: #fff;
    cursor: pointer;
}

.subs-input {
    height: 26px;
    width: 150px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: none;

}

.subs-input-2 {
    width: 100px;
    height: 29px;
    border: none;
    border-radius: 3px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.837);
    background-size: 300% 100%;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #d93f0b, #bf2828, #d46d48, #ce5247);
    outline: none;
    cursor: pointer;
}

.subs-input-2:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.socials-link{
    color: rgb(18, 18, 18);
    text-decoration: none;
    display: flex;
}

.socials-link:hover{
    color: #fff;
}

.copyright-section {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: 10px;
    border-top: 2px rgb(255, 255, 255) solid;
    padding-top: 10px;
    margin-bottom: 5px;
}

.copyright-section p {
    width: fit-content;
    margin: 0 50px 0 50px;
    cursor: pointer;
    font-weight: bold;
}

.copyright-section p:hover {
    color: #fff;
}