.my-plate-container{
    display: flex;
    justify-content: space-evenly;
}

.plate-container{
    width: 50%;
    height: max-content;
    margin: 15px;
    border-radius: 5px;
    padding: 10px;
    box-shadow: #cfcfcf86 0px 0px 5px 5px;
}

.plate-container:hover,
.plate-container:focus
{
    box-shadow: #aaaaaa89 0px 0px 5px 3px;
    -webkit-transform: scale(0.95);
    transform: scale(1.04);
}

.confirm-btn{
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

.button{
    color: #454545 ;
}

.button:hover{
    color: black;
}

.dlt-plate{
    width: max-content;
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
    color: rgb(179, 32, 32);
}

.dlt-plate:hover{
    color: #454545;

}