.navbar-container{
    box-shadow: #cfcfcf 0px 0px 5px 2px;
}

.logout-btn {
    font-size: 12px;
    border-radius: 3px;
    width: 90px;
    background-size: 300% 100%;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    outline: none;
}

.logout-btn:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.badge-bg {
    background-color: #699ae3;
}

.link-hover{
    position: relative;
}

.link-hover:hover{
    color: #4481eb;
}

.link-hover::after{
    content: '';
    position: absolute;
    height: 3px;
    width: 0;
    background: #4481eb;
    transition: 0.6s;
}

.link-hover::after{
    left: 0;
    bottom: -5px;
}

.link-hover:hover::after{
    width: 100%;

}
